@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(40deg, #0a0a0a, #3a4452);
}
.calculator {
    border: 1px solid #717377;
    padding: 15px;
    border-radius: 16px;
    background-color: transparent;
    box-shadow: 0px 3px 15px rgba(114, 115, 119, 0.5);
}
input {
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    color: #ffffff;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(84, 84, 84, 0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
}
input::placeholder {
    color: #ffffff;
}
input:hover {
    box-shadow: inset 3px 3px 5px rgb(255, 252, 252),
        inset -3px -3px 5px rgb(255, 252, 252);
    background: transparent;
    border-radius: 10px;
    border: none;
}
button {
    border: none;
    width: 60px;
    font-size: 20px;
    outline: none;
    margin: 11px;
    border-radius: 4px;
    background: transparent;
    color: #ffffff;
    transition: .1s;
    box-shadow: 5px 5px 8px #00000020,
        -1px -2px 5px #ffff;
    cursor: pointer;
}
button:hover {
    box-shadow: inset 3px 3px 5px rgb(255, 252, 252),
        inset -2px -2px 3px rgb(255, 252, 252);
    background: #070e0f;
}
.equalBtn {
    background-color: #fb7c14;
}
.operator {
    color: chartreuse;
}
.altBtn {
    background-color: rgb(11, 116, 237);
}
.deleteBtn {
    background-color: crimson;
}
@media only screen and (min-width:280px)  and (max-width: 600px) {
    body {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(40deg, #0a0a0a, #3a4452);
    }
    .calculator {
        border: 1px solid #717377;
        padding: 15px;
        border-radius: 16px;
        background-color: transparent;
        box-shadow: 0px 3px 15px rgba(114, 115, 119, 0.5);
    }
    input {
        width: 320px;
        padding: 20px;
        margin: 8px;
    }
    button {
        width: 50px;
        font-size: 18px;
    }
}
@media only screen and (min-width:0px)  and (max-width: 280px){
    button {
        width: 40px;
        font-size: 15px;
        margin: 7px;
    }
}
